{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Home Page</title>
	<link href="{% static 'bona/front-page-category/css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'bona/front-page-category/css/responsive.css' %}" rel="stylesheet">
{% endblock %}
{% block link %} 
	{% if allowpost %}
		Admin
	{% else %}
		Login
	{% endif %}
{% endblock %}
<!-- page style -->

{% block content %}
<div class="main-slider">
	<div class="swiper-container position-static" data-slide-effect="slide" data-autoheight="false"
		data-swiper-speed="500" data-swiper-autoplay="10000" data-swiper-margin="0" data-swiper-slides-per-view="4"
		data-swiper-breakpoints="true" data-swiper-loop="true" >
		<div class="swiper-wrapper">

			<div class="swiper-slide" onClick="filterCategory('Design')">
				<a class="slider-category" href="#">
					<div class="blog-image"><img src="{% static 'bona/images/category-1-400x250.jpg' %}" alt="Blog Image"></div>

					<div class="category">
						<div class="display-table center-text">
							<div class="display-table-cell">
								<h3><b>DESIGN</b></h3>
							</div>
						</div>
					</div>

				</a>
			</div><!-- swiper-slide -->

			<div class="swiper-slide" onClick="filterCategory('Health')">
				<a class="slider-category" href="#">
					<div class="blog-image"><img src="{% static 'bona/images/category-2-400x250.jpg' %}" alt="Blog Image"></div>

					<div class="category">
						<div class="display-table center-text">
							<div class="display-table-cell">
								<h3><b>HEALTH</b></h3>
							</div>
						</div>
					</div>

				</a>
			</div><!-- swiper-slide -->

			<div class="swiper-slide" onClick="filterCategory('Music')">
				<a class="slider-category" href="#">
					<div class="blog-image"><img src="{% static 'bona/images/category-3-400x250.jpg' %}" alt="Blog Image"></div>

					<div class="category">
						<div class="display-table center-text">
							<div class="display-table-cell">
								<h3><b>MUSIC</b></h3>
							</div>
						</div>
					</div>

				</a>
			</div><!-- swiper-slide -->

			<div class="swiper-slide" onClick="filterCategory('Sport')">
				<a class="slider-category" href="#">
					<div class="blog-image"><img src="{% static 'bona/images/category-4-400x250.jpg' %}" alt="Blog Image"></div>

					<div class="category">
						<div class="display-table center-text">
							<div class="display-table-cell">
								<h3><b>SPORT</b></h3>
							</div>
						</div>
					</div>

				</a>
			</div><!-- swiper-slide -->

			<div class="swiper-slide" onClick="filterCategory('Travel')">
				<a class="slider-category" href="#">
					<div class="blog-image"><img src="{% static 'bona/images/category-5-400x250.jpg' %}" alt="Blog Image"></div>

					<div class="category">
						<div class="display-table center-text">
							<div class="display-table-cell">
								<h3><b>TRAVEL</b></h3>
							</div>
						</div>
					</div>

				</a>
			</div><!-- swiper-slide -->

			<div class="swiper-slide" onClick="filterCategory('Technology')">
				<a class="slider-category" href="#">
					<div class="blog-image"><img src="{% static 'bona/images/category-6-400x250.jpg' %}" alt="Blog Image"></div>

					<div class="category">
						<div class="display-table center-text">
							<div class="display-table-cell">
								<h3><b>TECHNOLOGY</b></h3>
							</div>
						</div>
					</div>

				</a>
			</div><!-- swiper-slide -->

		</div><!-- swiper-wrapper -->

	</div><!-- swiper-container -->

</div><!-- slider -->

<section class="blog-area section">
	<div class="container">
		<div class="row">
			{% for post in posts %}
			<div class="col-lg-4 col-md-6 divcat {{ post.category }}">
				<div class="card h-100">
					<div class="single-post post-style-1">

						<div class="blog-image"><img src="{% static 'bona/images/pexels-photo-370474.jpeg' %}" alt="Blog Image"></div>

						<a class="avatar" href="#"><img src="{% static 'bona/images/averie-woodard-319832.jpg' %}" alt="Profile Image"></a>

						<h4 class="title"><a href="{% url 'blog:viewpost' post.id %}"><b>{{ post.title }}</b></a></h4>

						<ul class="post-footer">
							<li><a><i class="ion-heart"></i>{{ post.likes }}</a></li>
							<li><a><i class="ion-chatbubble"></i>{{ post.comments.all.count }}</a></li>
							{% if allowpost %}
								<li><a href="{% url 'blog:add-post' post.id %} "><i class="ion-edit"></i></a></li>
							{% endif %}
						</ul>

					</div><!-- single-post -->
				</div><!-- card -->
			</div><!-- col-lg-4 col-md-6 -->

			{% empty %}
			<a class="load-more-btn" href="#"><b>NO POST YET.</b></a>
			{% endfor %}
		</div><!-- row -->
		
		{% if allowpost %}
			<a class="load-more-btn" href="{% url 'blog:add-post' 0 %}"><b><i class="ion-android-add"></i> NEW POST</b></a>
		{% endif %}

	</div><!-- container -->
</section><!-- section -->

<script language="JavaScript" type="text/javascript">
	function filterCategory(category){
		$(".divcat").hide()
		$("."+category).show()
	}
</script>
{% endblock %}
